@model FieldServiceApp.Models.DashboardOrderViewModel

<div class="modal fade show" style="display:block">

    <div class="modal-dialog">

        <div class="modal-content ">

            <div class="modal-header">

                <h5 class="modal-title">Job Detail</h5>
                <button type="button" class="close close1" onclick="closeModel()" >&times;</button>
            </div>
            <div class="modal-body">
                <p class="text-orange-d3 text-125 text-center" style="margin-bottom:0px">OrderNo: #@Model.OrderId</p>
                <p class="text-primary text-105 mt-1 text-center" style="margin-bottom:0px">Customer: @Model.EmployeeName <br />(@Model.CustomerShipAddress)</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-warning btn-bold ml-2px close1" onclick="closeModel()">Close</button>
            </div>
        </div>
        </div>
</div>