@model FieldServiceApp.Models.OrderMasterViewModel_Datatable
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings
@{

    ViewData["Title"] = "Order List";
}
<div role="main" class="page-content container container-plus">
    <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
        <h1 class="page-title text-primary-d2 text-140">
            Order(s)
        </h1>

        <div class="page-tools mt-3 mt-sm-0 mb-sm-n1">
            <!-- dataTables search box will be inserted here dynamically -->
        </div>
    </div>

    <div class="card bcard h-auto">



        <form class="mt-lg-3" autocomplete="off" action="@Settings.Value.WebBaseURL/Order/List" method="post">

            <div class="table-responsive">
                <jquery-datatables id="datatable"
                                   class="d-style  table text-dark-m1 text-95 border-y-1 brc-black-tp11 collapsed nowrap"
                                   model="@Model"
                                   search-row-th-class="p-0"
                                   search-input-class="form-control form-control-sm"
                                   search-input-style="width:100%"
                                   thead-class="text-center">
                </jquery-datatables>

            </div>

        </form>


    </div>
</div>



@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib//datatable/dataTables.bootstrap4.css" />
        <link rel="stylesheet" href="~/lib//datatable/buttons.bootstrap4.css" />
        <link rel="stylesheet" href="~/lib//datatable/dataTables.colReorder.css" />
        <link rel="stylesheet" href="~/pages/datatable/@@page-style.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/tiny-date-picker.css" />
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/date-range-picker.css" />
    </environment>

    <style>
        .dataTables_wrapper {
            margin: 0 auto;
        }

        .datatable {
            width: 95% !important;
        }

        .nonWkDayOrder {
            background-color: #ffbc002b;
        }

        @@media (min-width: 1368px) {
            .datatable {
                 width:  98% !important;
            }
        }
    </style>

}

@section scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib//datatable/jquery.dataTables.js"></script>
        <script src="~/lib//datatable/dataTables.bootstrap4.js"></script>
        <script src="~/lib//datatable/dataTables.colReorder.js"></script>
        <script src="~/lib//datatable/dataTables.select.js"></script>
        <script src="~/lib//datatable/dataTables.buttons.js"></script>
        <script src="~/lib//datatable/buttons.bootstrap4.js"></script>
        <script src="~/lib//datatable/buttons.colVis.js"></script>
        <script src="~/lib//datatable/buttons.html5.js"></script>
        <script src="~/lib//datatable/buttons.print.js"></script>
        <script src="~/lib//datatable/buttons.colVis.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/bootstrap-datepicker/date-range-picker.js"></script>
        <script src="~/js/order_list.js"></script>


        <script type="text/javascript">

            $(document).ready(function () {
                $(".dataTables_wrapper").
                    width(($(".dataTables_wrapper").parent().parent().parent().width() - 10) + "px");
                console.log( $(".dataTables_wrapper").width());
            });


            window.baseUrl = '@Settings.Value.WebBaseURL';

    //        $(document).ready(function () {

    // var TinyDatePicker = DateRangePicker.TinyDatePicker;
    //                      TinyDatePicker('#id-date-1', {
    //                    mode: 'dp-below',
    //                    date : new Date()
    //                })
    //                      .on('statechange', function (ev) {

    //                    });
    //var TinyDatePicker2 = DateRangePicker.TinyDatePicker;
    //                      TinyDatePicker2('#id-date-2', {
    //                    mode: 'dp-below',
    //                    date : new Date()
    //                })
    //                      .on('statechange', function (ev) {

    //                    });

    // var TinyDatePicker3 = DateRangePicker.TinyDatePicker;
    //                       TinyDatePicker3('#id-date-3', {
    //                        mode: 'dp-below',
    //                        date : new Date()
    //                    })
    //                       .on('statechange', function (ev) {

    //                        });

    //var TinyDatePicker4 = DateRangePicker.TinyDatePicker;
    //                      TinyDatePicker4('#id-date-4', {
    //                         mode: 'dp-below',
    //                         date : new Date()
    //                     })
    //                      .on('statechange', function (ev) {

    //                         });

    //        });


            function add() {
                window.location = window.baseUrl + "/Order/Add";
            }
            function deleteFun(id) {

            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (!isConfirm)
                        return;

                      $.ajax({
                    url: "/Order/Delete",
                    type: "POST",
                    dataType: "json",
                    data: { id: id },
                    success: function (data) {
                        if (data.Status=="1") {
                            swal(data.Message, "", "success")
                            setTimeout(function () {
                                window.location.reload();
                            }, 750);

                        }
                        else {
                              swal(data.Message, "", "error")
                        }
                    }
                })

                });

            }

            function checkDate() {
               
                var shipFromDate = $("#id-date-1").val();
                var shipDateTo = $("#id-date-2").val();
                var orderDateFrom = $("#id-date-3").val();
                var orderDateTo = $("#id-date-4").val();



                if (((shipFromDate) && (!shipDateTo)) || ((!shipFromDate) && (shipDateTo))) {
                swal("Please select both ship dates", "", "error");
                return false;
            }
                if ((shipFromDate) && (shipDateTo)) {
                     if (shipFromDate > shipDateTo) {
                swal("Ship From date should be less or equal to ship To date", "", "error");
                return false;
            }
                }

                if (((orderDateFrom) && (!orderDateTo)) || ((!orderDateFrom) && (orderDateTo))) {
                swal("Please select both order dates", "", "error");
                return false;
            }
                if ((orderDateFrom) && (orderDateTo)) {
                     if (orderDateFrom > orderDateTo) {
                swal("Order From date should be less or equal to Order To date", "", "error");
                return false;
            }
                }


                return true;

            }



        </script>
    </environment>
}