

<div class="page-content container container-plus">
    <!-- page header -->
    <div class="d-lg-none page-header border-0 py-0">
        <h1 class="text-dark-m3 pb-0 mb-0 text-125">
            Dashboard
        </h1>

        <!-- page tools -->
        <div class="page-tools d-none">
            <div class="action-buttons text-nowrap">
                <a class="btn bgc-white btn-light-secondary mx-0" href="#" data-toggle="tooltip" title="Details">
                    <i class="fa fa-search-plus text-blue"></i>
                </a>
                <a class="btn bgc-white btn-light-secondary mx-0" href="#" data-toggle="tooltip" title="Print">
                    <i class="fa fa-print text-purple"></i>
                </a>
                <a class="btn bgc-white btn-light-secondary mx-0" href="#" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-trash-alt text-danger"></i>
                </a>
            </div>
        </div>
    </div>




    <!-- stat boxes -->
    <div class="row px-2 mt-3">
        <div class="col-12 col-sm-6 col-lg-3 px-2 mb-2 mb-lg-0">
            <div class="bcard h-100 d-flex align-items-center p-3">
                <div>
                    <span class="d-inline-block bgc-green-d1 p-3 radius-round text-center border-4 brc-green-l2">
                        <i class="fa fa-dollar-sign text-white text-180 w-4 h-4"></i>
                    </span>
                </div>

                <div class="ml-3">
                    <div class="pos-rel">
                        <span class="text-dark-tp4 text-140">$</span>
                        <span class="text-dark-tp3 text-180">85k</span>

                        <span class="text-blue-m1 text-600 text-90 ml-2 text-nowrap">
                            8%
                            <i class="fa fa-arrow-up"></i>
                        </span>
                    </div>
                    <div class="text-dark-tp4">today's earnings</div>
                </div>

                <div class="position-tr m-1">
                    <!-- the dropdown used in some boxes (cards) -->
                    <div class="dropdown dd-backdrop dd-backdrop-none-md">
                        <button type="button" class="btn btn-sm btn-text-pale btn-brc-tp btn-outline-lightgrey btn-h-light-default btn-a-light-default dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>

                        <div class="dropdown-menu p-3px mw-auto shadow-sm dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md radius-1 brc-secondary-l1">
                            <div class="dropdown-inner">
                                <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                    <i class="fa fa-cog text-blue mr-1"></i>
                                    Some action
                                </a>

                                <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                    <i class="fas fa-tools text-blue mr-1"></i>
                                    Another action
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-12 col-sm-6 col-lg-3 px-2 mb-2 mb-lg-0">
            <div class="bcard h-100 d-flex align-items-center p-3">

                <div>
                    <span class="d-inline-block bgc-warning-d1 p-3 radius-round text-center border-4 brc-warning-l2">
                        <i class="fa fa-shopping-cart text-white text-170 w-4 h-4"></i>
                    </span>
                </div>

                <div class="ml-3">
                    <div class="pos-rel">
                        <span class="text-dark-tp3 text-180">369</span>
                        <span class="text-danger-m2 text-600 text-90 ml-2 text-nowrap">
                            2%
                            <i class="fa fa-arrow-down"></i>
                        </span>
                    </div>
                    <div class="text-dark-tp4 text-110">new orders</div>
                </div>

                <!-- this is a dropdown with tooltips -->
                <div class="position-tr m-1 dropdown dd-backdrop dd-backdrop-none-md">
                    <button type="button" class="btn btn-sm btn-brc-tp btn-bgc-tp btn-text-pale btn-light-default dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>

                    <div class="dropdown-menu p-3px mw-auto shadow-sm dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md radius-1 brc-secondary-l1">
                        <div class="dropdown-inner">
                            <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#" title="Some action" data-toggle="tooltip">
                                <i class="fa fa-cog mr-1 text-blue"></i>
                                <span class="d-md-none">Some action</span>
                            </a>

                            <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#" title="Another action" data-toggle="tooltip">
                                <i class="fas fa-tools text-orange mr-1"></i>
                                <span class="d-md-none">Another action</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <div class="col-12 col-sm-6 col-lg-3 px-2 mb-2 mb-lg-0">
            <div class="bcard h-100 d-flex align-items-center p-3">

                <div>
                    <span class="d-inline-block bgc-primary p-3 radius-round text-center border-4 brc-primary-l2">
                        <i class="fas fa-chart-line text-white text-170 w-4 h-4"></i>
                    </span>
                </div>

                <div class="ml-3 flex-grow-1">
                    <div>
                        <span class="text-dark-tp3 text-180">520k</span>

                        <span class="text-blue-m1 text-600 text-90 ml-2 text-nowrap">
                            3%
                            <i class="fa fa-arrow-up"></i>
                        </span>
                    </div>
                    <div class="text-dark-tp4 text-110">total tasks</div>
                </div>

                <div class="mr-auto">
                    <canvas id="infobox-chart1" style="width: 70px;"></canvas>
                </div>

                <div class="position-tr m-1">
                    <!-- the dropdown used in some boxes (cards) -->
                    <div class="dropdown dd-backdrop dd-backdrop-none-md">
                        <button type="button" class="btn btn-sm btn-text-pale btn-brc-tp btn-outline-lightgrey btn-h-light-default btn-a-light-default dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>

                        <div class="dropdown-menu p-3px mw-auto shadow-sm dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md radius-1 brc-secondary-l1">
                            <div class="dropdown-inner">
                                <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                    <i class="fa fa-cog text-blue mr-1"></i>
                                    Some action
                                </a>

                                <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                    <i class="fas fa-tools text-blue mr-1"></i>
                                    Another action
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-12 col-sm-6 col-lg-3 px-2 mb-2 mb-lg-0">
            <div class="bcard h-100 d-flex align-items-center p-3">

                <div class="text-center pos-rel ml-1">
                    <canvas id="task-progress-piechart" style="height: 75px; width: 75px; max-height: 75px; max-width: 75px;"></canvas>

                    <span class="position-center text-dark-tp3 text-600">71%</span>
                </div>

                <div class="ml-3 flex-grow-1">
                    <div>
                        <span class="text-dark-tp3 text-125">Task Progress</span>
                    </div>
                    <div class="text-dark-tp4 text-110">3 remaining</div>
                </div>

                <div class="position-tr m-1">
                    <!-- the dropdown used in some boxes (cards) -->
                    <div class="dropdown dd-backdrop dd-backdrop-none-md">
                        <button type="button" class="btn btn-sm btn-text-pale btn-brc-tp btn-outline-lightgrey btn-h-light-default btn-a-light-default dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>

                        <div class="dropdown-menu p-3px mw-auto shadow-sm dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md radius-1 brc-secondary-l1">
                            <div class="dropdown-inner">
                                <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                    <i class="fa fa-cog text-blue mr-1"></i>
                                    Some action
                                </a>

                                <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                    <i class="fas fa-tools text-blue mr-1"></i>
                                    Another action
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <div class="row mt-2 mt-lg-4 pt-2">
        <!-- sale stats chart -->
        <div class="col-12 col-lg-7">
            <div class="bcard card h-100">
                <div class="card-header border-b-1 brc-grey-l3 pb-2">
                    <h5 class="card-title font-normal text-120 text-dark-m1 pl-1">
                        Sales Stats
                    </h5>

                    <!-- the dropdowns -->
                    <div class="card-toolbar no-border">
                        <div class="dropdown dd-backdrop dd-backdrop-none-md">
                            <a class="btn btn-light-blue btn-bold btn-xs btn-brc-tp" href="#" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                Monthly
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated dd-slide-up dd-slide-none-md shadow-sm radius-1 brc-secondary-l1">
                                <div class="dropdown-inner">
                                    <a class="dropdown-item btn btn-h-light-grey btn-a-lighter-blue text-grey-m1 mx-1" href="#">Weekly</a>
                                    <a class="dropdown-item active btn btn-h-light-grey btn-a-lighter-blue btn-a-bold mx-1" href="#">Monthly</a>
                                    <a class="dropdown-item btn btn-h-light-grey btn-a-lighter-blue text-grey-m1 mx-1" href="#">Quarterly</a>
                                    <a class="dropdown-item btn btn-h-light-grey btn-a-lighter-blue text-grey-m1 mx-1" href="#">Yearly</a>
                                </div>
                            </div>
                        </div>

                        <div class="dropdown dd-backdrop dd-backdrop-none-md">
                            <a class="btn btn-light-green btn-bold btn-xs btn-brc-tp ml-1" href="#" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                USA
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated dd-slide-up dd-slide-none-md shadow-sm radius-1 brc-secondary-l1">
                                <div class="dropdown-inner">
                                    <a class="dropdown-item active btn btn-h-light-grey btn-a-lighter-green btn-a-bold mx-1" href="#">USA</a>
                                    <a class="dropdown-item btn btn-h-light-grey btn-a-lighter-green text-grey-m1 mx-1" href="#">Canada</a>
                                    <a class="dropdown-item btn btn-h-light-grey btn-a-lighter-green text-grey-m1 mx-1" href="#">UK</a>
                                    <a class="dropdown-item btn btn-h-light-grey btn-a-lighter-green text-grey-m1 mx-1" href="#">Australia</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.card-toolbar -->
                </div>

                <div class="card-body h-100 d-flex flex-column justify-content-center py-3 px-2 px-md-4">
                    <canvas id="sales-chart" class="mx-n1 mx-md-0 mw-100" style="height: 280px;"></canvas>
                </div>
            </div><!-- /.card -->
        </div>

        <!-- revenue/expense bar chart -->
        <div class="col-12 col-lg-5 mt-3 mt-lg-0">
            <div class="bcard card h-100">
                <div class="card-header brc-grey-l3 pb-2">
                    <h5 class="card-title font-normal text-120 text-dark-m1 pl-1">
                        Revenue vs Expense
                    </h5>

                    <!-- dropdown menu -->
                    <div class="card-toolbar no-border">
                        <div class="dropdown dd-backdrop dd-backdrop-none-md">
                            <a class="btn btn-sm btn-lighter-secondary text-600 btn-bgc-white brc-secondary-l1 brc-h-secondary-m4 ml-1 dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-calendar-check mr-2px"></i>
                                <span class="text-nowrap">
                                    Jan 2019
                                </span>
                                -
                                <span class="text-nowrap">
                                    Jan 2020
                                </span>
                                <i class="fa fa-caret-down ml-2px"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md shadow-sm radius-1 brc-secondary-l1">
                                <div class="dropdown-inner">
                                    <a class="dropdown-item mx-2 my-1 btn btn-sm btn-light-secondary btn-h-light-blue btn-a-blue text-600" href="#">Today</a>
                                    <a class="dropdown-item mx-2 my-1 btn btn-sm btn-light-secondary btn-h-light-blue btn-a-blue text-600" href="#">Yesterday</a>
                                    <a class="dropdown-item mx-2 my-1 btn btn-sm btn-light-secondary btn-h-light-blue btn-a-blue text-600" href="#">Last Week</a>
                                    <a class="dropdown-item mx-2 my-1 btn btn-sm btn-light-secondary btn-h-light-blue btn-a-blue text-600" href="#">Last Month</a>
                                    <a class="dropdown-item mx-2 my-1 btn btn-sm btn-light-secondary btn-h-light-blue btn-a-blue text-600 active" href="#">Custom Range</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body p-1 p-md-3 h-100 d-flex align-items-center">
                    <canvas id="revenue-expense-chart" class="mx-md-0" height="140"></canvas>
                </div><!-- .card-body -->
            </div>
        </div>
    </div>


    <div class="row mt-4">
        <!-- orders table -->
        <div class="col-12 col-lg-9">
            <div class="bcard card h-100 pt-1 pt-lg-2">

                <div class="card-header border-0">
                    <h5 class="card-title text-dark-m2 pl-1 text-110">
                        Recent Orders
                    </h5>

                    <div class="card-toolbar align-self-center no-border">
                        <div class="dropdown dd-backdrop dd-backdrop-none-md">
                            <a class="btn btn-light-green text-600 btn-xs mr-1" href="#" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                Export
                                <i class="fa fa-download ml-1 text-90"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated dd-slide-up dd-slide-none-md mw-auto shadow-sm radius-1 brc-secondary-l1">
                                <div class="dropdown-inner">
                                    <div class="d-md-none dropdown-header border-b-1 brc-secondary-l1 text-600 text-110">
                                        Export to:
                                    </div>
                                    <a class="dropdown-item btn btn-bold btn-outline-lightgrey btn-h-light-default btn-a-light-default mx-1" href="#">PDF</a>
                                    <a class="dropdown-item btn btn-bold btn-outline-lightgrey btn-h-light-default btn-a-light-default mx-1" href="#">Excel</a>
                                    <a class="dropdown-item btn btn-bold btn-outline-lightgrey btn-h-light-default btn-a-light-default mx-1" href="#">CSV</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-toolbar align-self-center">
                        <a href="#" data-action="reload" class="card-toolbar-btn text-blue text-105"><i class="fas fa-sync-alt"></i></a>
                    </div>
                </div>

                <div class="card-body p-0">
                    <div class="table-responsive-md">
                        <table class="table table-border-x brc-secondary-l3 mb-0">
                            <thead>
                                <tr class="text-80 text-default-d3 bgc-default-l4">
                                    <th class="pl-2 pl-lg-4">ID</th>
                                    <th>User</th>
                                    <th>Date</th>
                                    <th>Address</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                </tr>
                            </thead>

                            <tbody>

                                <tr class="bgc-h-secondary-l4">
                                    <td class="pl-2 pl-lg-4">
                                        <a href="#" class="text-95 text-primary text-600">
                                            #6328
                                        </a>
                                    </td>

                                    <td class="text-dark-m2 text-85">Bob Doe</td>

                                    <td class=" text-dark-m2 text-85">May 8th</td>

                                    <td class=" text-dark-m2 text-85">London</td>

                                    <td class="font-bolder text-75 text-dark-m2 pr-2 pr-lg-3">
                                        <span class="d-inline-block bgc-green radius-2px p-1 align-middle mr-1"></span>
                                        <span>Processed</span>
                                    </td>

                                    <td class="text-secondary-d3 text-95">
                                        $149,98
                                        <div class="float-right dropdown dd-backdrop dd-backdrop-none-md">
                                            <button type="button" class="btn btn-text-pale btn-bgc-tp btn-light-lightgrey btn-h-default btn-a-default border-0 px-25 dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-95"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md p-3px mw-auto shadow-sm radius-1 brc-secondary-l1">
                                                <div class="dropdown-inner">
                                                    <div class="d-md-none dropdown-header border-b-1 brc-secondary-l1 text-600 text-110 text-center">
                                                        Order #6328
                                                    </div>

                                                    <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                                        <i class="fa fa-arrow-right mr-2px text-success w-2"></i>
                                                        Proceed
                                                    </a>
                                                    <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                                        <i class="fa fa-undo text-danger mr-2px w-2"></i>
                                                        Cancel
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="bgc-h-secondary-l4">
                                    <td class="pl-2 pl-lg-4">
                                        <a href="#" class="text-95 text-primary text-600">
                                            #7193
                                        </a>
                                    </td>

                                    <td class="text-dark-m2 text-85">Maria Doe</td>

                                    <td class=" text-dark-m2 text-85">May 6th</td>

                                    <td class=" text-dark-m2 text-85">Dubai</td>

                                    <td class="font-bolder text-75 text-dark-m2 pr-2 pr-lg-3">
                                        <span class="d-inline-block bgc-red radius-2px p-1 align-middle mr-1"></span>
                                        <span>Cancelled</span>
                                    </td>

                                    <td class="text-secondary-d3 text-95">
                                        $29,45
                                        <div class="float-right dropdown dd-backdrop dd-backdrop-none-md">
                                            <button type="button" class="btn btn-text-pale btn-bgc-tp btn-light-lightgrey btn-h-default btn-a-default border-0 px-25 dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-95"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md p-3px mw-auto shadow-sm radius-1 brc-secondary-l1">
                                                <div class="dropdown-inner">
                                                    <div class="d-md-none dropdown-header border-b-1 brc-secondary-l1 text-600 text-110 text-center">
                                                        Order #7193
                                                    </div>

                                                    <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                                        <i class="fa fa-arrow-right mr-2px text-success w-2"></i>
                                                        Proceed
                                                    </a>
                                                    <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                                        <i class="fa fa-undo text-danger mr-2px w-2"></i>
                                                        Cancel
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="bgc-h-secondary-l4">
                                    <td class="pl-2 pl-lg-4">
                                        <a href="#" class="text-95 text-primary text-600">
                                            #8481
                                        </a>
                                    </td>

                                    <td class="text-dark-m2 text-85">John Smith</td>

                                    <td class=" text-dark-m2 text-85">May 5th</td>

                                    <td class=" text-dark-m2 text-85">Istanbul</td>

                                    <td class="font-bolder text-75 text-dark-m2 pr-2 pr-lg-3">
                                        <span class="d-inline-block bgc-warning radius-2px p-1 align-middle mr-1"></span>
                                        <span>Unpaid</span>
                                    </td>

                                    <td class="text-secondary-d3 text-95">
                                        $65,99
                                        <div class="float-right dropdown dd-backdrop dd-backdrop-none-md">
                                            <button type="button" class="btn btn-text-pale btn-bgc-tp btn-light-lightgrey btn-h-default btn-a-default border-0 px-25 dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-95"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md p-3px mw-auto shadow-sm radius-1 brc-secondary-l1">
                                                <div class="dropdown-inner">
                                                    <div class="d-md-none dropdown-header border-b-1 brc-secondary-l1 text-600 text-110 text-center">
                                                        Order #8481
                                                    </div>

                                                    <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                                        <i class="fa fa-arrow-right mr-2px text-success w-2"></i>
                                                        Proceed
                                                    </a>
                                                    <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                                        <i class="fa fa-undo text-danger mr-2px w-2"></i>
                                                        Cancel
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="bgc-h-secondary-l4">
                                    <td class="pl-2 pl-lg-4">
                                        <a href="#" class="text-95 text-primary text-600">
                                            #8229
                                        </a>
                                    </td>

                                    <td class="text-dark-m2 text-85">Jim Doe</td>

                                    <td class=" text-dark-m2 text-85">May 3rd</td>

                                    <td class=" text-dark-m2 text-85">Unknown</td>

                                    <td class="font-bolder text-75 text-dark-m2 pr-2 pr-lg-3">
                                        <span class="d-inline-block bgc-blue radius-2px p-1 align-middle mr-1"></span>
                                        <span>Delivered</span>
                                    </td>

                                    <td class="text-secondary-d3 text-95">
                                        $350,00
                                        <div class="float-right dropdown dd-backdrop dd-backdrop-none-md">
                                            <button type="button" class="btn btn-text-pale btn-bgc-tp btn-light-lightgrey btn-h-default btn-a-default border-0 px-25 dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v text-95"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-caret dropdown-animated dd-appear-center dd-slide-none-md p-3px mw-auto shadow-sm radius-1 brc-secondary-l1">
                                                <div class="dropdown-inner">
                                                    <div class="d-md-none dropdown-header border-b-1 brc-secondary-l1 text-600 text-110 text-center">
                                                        Order #8229
                                                    </div>

                                                    <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                                        <i class="fa fa-arrow-right mr-2px text-success w-2"></i>
                                                        Proceed
                                                    </a>
                                                    <a class="dropdown-item btn btn-light-grey btn-h-lighter-default btn-a-lighter-primary btn-bgc-tp px-3" href="#">
                                                        <i class="fa fa-undo text-danger mr-2px w-2"></i>
                                                        Cancel
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <!-- some extra stats -->
        <div class="col-12 col-lg-3 mt-2 mt-lg-0">
            <div class="h-100 row mt-sm-3 mt-lg-0">

                <div class="col-12 col-sm-4 col-lg-12">
                    <div class="bcard h-100 flex-grow-1 p-3 pt-1 pt-lg-2">
                        <h6 class="text-dark-m2 text-90 text-600">
                            <span class="d-inline-block p-15 radius-2 bgc-green-tp1 mr-1"></span>
                            Total Orders
                        </h6>
                        <div class="text-primary-m1 text-center text-200">
                            <span class="text-120">32,809</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-12 py-2 py-sm-0 py-lg-2">
                    <div class="bcard h-100 flex-grow-1 p-3 pt-1 pt-lg-2">
                        <h6 class="text-dark-m2 text-90 text-600">
                            <span class="d-inline-block p-15 radius-2 bgc-purple-tp1 mr-1"></span>
                            Daily Average
                        </h6>
                        <div class="text-primary-m1 text-center text-200">
                            <span class="text-120">285</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-12">
                    <div class="bcard h-100 flex-grow-1 p-3 pt-1 pt-lg-2">
                        <h6 class="text-dark-m2 text-90 text-600">
                            <span class="d-inline-block p-15 radius-2 bgc-brown-tp1 mr-1"></span>
                            Average Amount
                        </h6>
                        <div class="text-primary-m1 text-center text-200">
                            <span class="text-120">$141</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- /.row -->


   
</div>


@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/pages/dashboard/page-style.css" />
    </environment>
}

@section scripts {
    <environment names="Development,Staging,Production">
        <script src="~/js/Chart.js"></script>
        <script src="~/pages/dashboard/page-script.js"></script>
    </environment>
}