@model LaCafelogy.Models.CustomerMasterViewModel_datatable
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings
@{

    ViewData["Title"] = "Customer List";
}
<div role="main" class="page-content container container-plus">
    <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
        <h1 class="page-title text-primary-d2 text-140">
            Customer(s)
        </h1>

        <div class="page-tools mt-3 mt-sm-0 mb-sm-n1">
          
        </div>
    </div>

    <div class="card bcard h-auto">
        <form autocomplete="off" class="border-t-3 brc-blue-m2">

            <jquery-datatables id="datatable"
                               class="d-style w-100 table text-dark-m1 text-95 border-y-1 brc-black-tp11 collapsed"
                               model="@Model"
                               search-row-th-class="p-0"
                               search-input-class="form-control form-control-sm"
                               search-input-style="width:100%"
                               thead-class="text-center">
            </jquery-datatables>


        </form>
    </div>
</div>



@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib//datatable/dataTables.bootstrap4.css" />
        <link rel="stylesheet" href="~/lib//datatable/buttons.bootstrap4.css" />
        <link rel="stylesheet" href="~/pages/datatable/@@page-style.css" />
        <style>
            

            td.details-control {
                background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            tr.shown td.details-control {

                background: url('https://cdn.rawgit.com/DataTables/DataTables/6c7ada53ebc228ea9bc28b1b216e793b1825d188/examples/resources/details_close.png') no-repeat center center;
            }
            .tblBilling th, .tblBilling td{
            padding:0.4rem !important;
            }
             .tblShipping th, .tblShipping td{
            padding:0.4rem !important;
            }
            .highlight {
            background-color:yellow;
            }
            .tblBilling span{
            margin-right:5px;
            }
        </style>
    </environment>

}

@section scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib//datatable/jquery.dataTables.js"></script>
        <script src="~/lib//datatable/dataTables.bootstrap4.js"></script>
        <script src="~/lib//datatable/dataTables.colReorder.js"></script>
        <script src="~/lib//datatable/dataTables.select.js"></script>
        <script src="~/lib//datatable/dataTables.buttons.js"></script>
        <script src="~/lib//datatable/buttons.bootstrap4.js"></script>
        <script src="~/lib//datatable/buttons.colVis.js"></script>
        <script src="~/lib//datatable/buttons.html5.js"></script>
        <script src="~/lib//datatable/buttons.print.js"></script>
        @*<script src="~/pages/datatable/@@page-script.js"></script>*@
        <script src="~/js/customer_list.js?v=2"></script>

    </environment>

    <script type="text/javascript">
            window.baseUrl = '@Settings.Value.WebBaseURL';

            function add() {
                window.location = window.baseUrl + "/Customer/Add";
            }

        function deleteFun(id) {

            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (!isConfirm)
                        return;

                      $.ajax({
                    url: "/Customer/Delete",
                    type: "POST",
                    dataType: "json",
                    data: { id: id },
                    success: function (data) {
                        if (data.Status=="1") {
                            swal(data.Message, "", "success")
                            setTimeout(function () {
                                window.location.reload();
                            }, 750);

                        }
                        else {
                              swal(data.Message, "", "error")
                        }
                    }
                })

                });

        }

        function getHighLight(columnVal) {
            if (columnVal) {
                if ($("input[type='search']").val()) {
                    if (columnVal.toString().indexOf($("input[type='search']").val()) > -1) {
                        return '<span class="highlight">' + columnVal + '</span>';
                    }
                    else {
                        return columnVal;
                    }
                }
                else {
                    return columnVal;
                }
               
                
            }
            else {
                return columnVal;
            }
        }

        function getAllShipping(billings)
        {

            var shippingList = [];

            for (var i = 0; i < billings.length; i++) {
                for (var j = 0; j < billings[i].Shippings.length; j++) {
                    billings[i].Shippings[j].BillingDetail = billings[i];
                }
                shippingList = shippingList.concat(billings[i].Shippings);
            }

            return shippingList;
        }


        function format(d) {
             
            var shippingList = getAllShipping( d.BillingDetail)

            var tblBillDetail = '<table class="tblBilling mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">' +
                '<tbody>';
                
            for (var i = 0; i < shippingList.length; i++) {
                tblBillDetail = tblBillDetail + '<tr  class="bgc-info-l4">'+
                    '<td><span> '+getHighLight( shippingList[i].Address)+'  '+
                    '<span>' + getHighLight(shippingList[i].Address2) + '</span>' +
                    '<span>' + getHighLight(shippingList[i].Address3) + '</span>' +
                    '<span>' + getHighLight(shippingList[i].CityName) + '</span>' +
                    '<span>' + getHighLight(shippingList[i].StateName) + '</span>' +
                    '<span>' + getHighLight(shippingList[i].Zip1) + '</span>' +
                    '<span>' + getHighLight(shippingList[i].Zip2) + '</span></td>' +
                    '<td><i onclick="goToDetail('+ shippingList[i].ShipId+')" class="far fa-eye" style="font-size: medium;cursor: pointer;color:cadetblue"></i><i onclick="goToEdit('+d.CustmoerId+','+ shippingList[i].ShipId+')" style="margin-left:5px;font-size: medium;cursor: pointer;color:cadetblue" class="far fa-edit"></i></td>' +
                    '</tr>'
                //<i onclick="goToDetail1('+ shippingList[i].ShipId+')" class="far fa-eye" style="font-size: medium;cursor: pointer;"></i>

               // tblBillDetail = tblBillDetail + '<tr><td colspan="8" align="center" >';
               // tblBillDetail =tblBillDetail+ '<table style="width:95%" class="tblShipping mb-0 table table-borderless table-bordered-x brc-secondary-l3 text-dark-m2 radius-1 overflow-hidden">' +
               // '<tbody>' +
               // '';

               //{
               //       tblBillDetail=tblBillDetail+'<tr onclick="goToEdit('+d.CustmoerId+','+  shippingList[i].ShipId+')" class="bgc-grey-l4"><td> </td><td>'+getHighLight( shippingList[i].BillingDetail.FirstName)+'</td>'+
               //     '<td>' + getHighLight(shippingList[i].BillingDetail.LastName) + '</td>' +
               //     '<td>' + getHighLight(shippingList[i].BillingDetail.Address1) + '</td>' +
               //     '<td>' + getHighLight(shippingList[i].BillingDetail.Address2) + '</td>' +
               //     '<td>' + getHighLight(shippingList[i].BillingDetail.Address3) + '</td>' +
               //     '<td>' + getHighLight(shippingList[i].BillingDetail.Zip1) + '</td>' +
               //     '<td>' + getHighLight(shippingList[i].BillingDetail.Zip2) + '</td>' +
               //     '</tr>'
               // }
               // tblBillDetail = tblBillDetail + '</tbody></table></td></tr>';

            }

              tblBillDetail = tblBillDetail + '</tbody></table>';
                       
           return tblBillDetail;
}

        function goToEdit(id, billingId, shipId) {
            
            if (billingId) {
              
                window.location = window.baseUrl + "/Customer/EditV2/" + (id + "-" + billingId );
            }
            else {
                 window.location = window.baseUrl + "/Customer/EditV2/"+billingId;
            }
            
        }

        function goToDetail1(id) {
            window.location = window.baseUrl + "/Customer/Detail/" + id;
        }

        
        function goToDetail(id) {
            openCustomerPopup(id);
        }


            function openCustomerPopup(id) {
    $.ajax({
        url: "/Customer/GetCustomerDetailPopup/" + id,
        type: "POST",
        contentType: "application/json; charset=utf-8",
        dataType: "html",
        success: function (response) {
            var modal = response;
            modal = $(modal).appendTo('body');
            modal.find('form').on('submit', function (ev) {
                ev.preventDefault();
                //info.event.setProp('title', info.event._def.extendedProps.CustomerName + '<br />' + $("#EmployeeId option:selected").text());
                window.location.reload();
                modal.modal("hide");
            });
            modal.find('button[data-action=delete]').on('click', function () {
                modal.modal("hide");
            });
            modal.modal('show').on('hidden.bs.modal', function () {
                modal.remove();
            });
        }
    });
}


    </script>

}