@model FieldServiceApp.Models.CustomerMasterViewModel_datatable
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings
@{

    ViewData["Title"] = "Customer List";
}
<div role="main" class="page-content container container-plus">
    <div class="page-header mb-2 pb-2 flex-column flex-sm-row align-items-start align-items-sm-center py-25 px-1">
        <h1 class="page-title text-primary-d2 text-140">
            Customer(s)
        </h1>

        <div class="page-tools mt-3 mt-sm-0 mb-sm-n1">
            @*<button data-rel="tooltip" id="btnAdd" onclick="add()" type="button" class="btn radius-round btn-outline-primary border-2 btn-sm ml-2" title="" data-original-title="Add New"><i class="fa fa-plus"></i></button>*@
        </div>
    </div>

    <div class="card bcard h-auto">
        <form autocomplete="off" class="border-t-3 brc-blue-m2">

            <jquery-datatables id="datatable"
                               class="d-style w-100 table text-dark-m1 text-95 border-y-1 brc-black-tp11 collapsed"
                               model="@Model"
                               search-row-th-class="p-0"
                               search-input-class="form-control form-control-sm"
                               search-input-style="width:100%"
                               thead-class="text-center">
            </jquery-datatables>


        </form>
    </div>
</div>



@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib//datatable/dataTables.bootstrap4.css" />
        <link rel="stylesheet" href="~/lib//datatable/buttons.bootstrap4.css" />
        <link rel="stylesheet" href="~/pages/datatable/@@page-style.css" />
        <style>
            #btnAdd {
                display: none;
            }
        </style>
    </environment>

}

@section scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib//datatable/jquery.dataTables.js"></script>
        <script src="~/lib//datatable/dataTables.bootstrap4.js"></script>
        <script src="~/lib//datatable/dataTables.colReorder.js"></script>
        <script src="~/lib//datatable/dataTables.select.js"></script>
        <script src="~/lib//datatable/dataTables.buttons.js"></script>
        <script src="~/lib//datatable/buttons.bootstrap4.js"></script>
        <script src="~/lib//datatable/buttons.colVis.js"></script>
        <script src="~/lib//datatable/buttons.html5.js"></script>
        <script src="~/lib//datatable/buttons.print.js"></script>
        @*<script src="~/pages/datatable/@@page-script.js"></script>*@
        <script src="~/js/customer_list.js"></script>

    </environment>

    <script type="text/javascript">
            window.baseUrl = '@Settings.Value.WebBaseURL';

            function add() {
                window.location = window.baseUrl + "/Customer/Add";
            }

        function deleteFun(id) {

            swal({
                title: "Are you sure?",
                type: "warning",
                showCancelButton: true,
                cancelButtonText: "No",
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes",
                closeOnConfirm: false
            },
                function (isConfirm) {
                    if (!isConfirm)
                        return;

                      $.ajax({
                    url: "/Customer/Delete",
                    type: "POST",
                    dataType: "json",
                    data: { id: id },
                    success: function (data) {
                        if (data.Status=="1") {
                            swal(data.Message, "", "success")
                            setTimeout(function () {
                                window.location.reload();
                            }, 750);

                        }
                        else {
                              swal(data.Message, "", "error")
                        }
                    }
                })

                });

        }


    </script>

}